---
import { softwares, languages, softskills, skills } from "@cv";
import Section from "../Section.astro";
---

<Section title="Competencias">
  <ul class="flex flex-col flex-wrap gap-2">
    <div class="flex items-center gap-1.5 flex-wrap">
      <h2 class="text-black opacity-80 font-bold">Habilidades:</h2>
      {
        skills.map(({ name }) => {
          return (
            <>
              <li>
                <h3 class="text-black opacity-95 font-semibold text-xs">
                  {name}
                </h3>
              </li>
            </>
          );
        })
      }
    </div>
    <div class="flex items-center gap-1.5 flex-wrap">
      <h2 class="text-black opacity-80 font-bold">Habilidades Blandas:</h2>
      {
        softskills.map(({ name }) => {
          return (
            <>
              <li>
                <h3 class="text-black opacity-95 font-semibold text-xs">
                  {name}
                </h3>
              </li>
            </>
          );
        })
      }
    </div>
    <div class="flex items-center gap-1.5 flex-wrap">
      <h2 class="text-black opacity-80 font-bold">Software:</h2>
      {
        softwares.map(({ name }) => {
          return (
            <>
              <li>
                <h3 class="text-black opacity-95 font-semibold text-xs">
                  {name}
                </h3>
              </li>
            </>
          );
        })
      }
    </div>
    <div class="flex items-center gap-1.5 flex-wrap">
      <h2 class="text-black opacity-80 font-bold">Idiomas:</h2>
      {
        languages.map(({ language, fluency }) => {
          return (
            <>
              <li>
                <h3 class="text-black opacity-95 font-semibold text-xs">
                  {language} {fluency}
                </h3>
              </li>
            </>
          );
        })
      }
    </div>
  </ul>
  <Section />
</Section>
